scripts/diffdock_weights.py
data/*
!data/.gitkeep
plots/*
!plots/.gitkeep
results/diffdock/*
!results/diffdock/.gitkeep
results/gpu_traces/*
!results/gpu_traces/.gitkeep
results/io_traces/*
!results/io_traces/.gitkeep
results/memory_traces/*
!results/memory_traces/.gitkeep
results/proteingenerator/*
!results/proteingenerator/.gitkeep
results/rosettafold/*
!results/rosettafold/.gitkeep
results/vina/*
!results/vina/.gitkeep
__pycache__
tools/*